form#festival-search-js > div {
padding-left: 0;
padding-right: 0;
}

.festival-select {
    position: relative;
    float: left;
    height: 100px;
    width: 50px;
    background-color: blue;
}
.festival-img {
    height: 100px;
    width: 100px;
    position: relative;
    float: left;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    background-color: #ccc;
    transition: all 0.4s ease-in-out;
}
.festival-list-item:hover .festival-img {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}

.empty-festivals{
    width:100% !important;
}
.festivaldetails {
    background-color: #FFF;
    position: relative;
    float: left;
    height: 100px;
    width: calc(100% - 150px);
    padding-left: 5px;
}
.festival-select a.button {
    width: 50px;
    padding: 40px 0 0 0;
    height: 100px;
    margin: 0px 0px 0px 0px;
    display: block;
}
