div#modal-window {

}
div#dialog-region {
    /* z-index: 1050; */

    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* right: 0; */
    /* bottom: 0; */
}


div#modal-title-region {

}

.modal {
position: absolute;
top: 50%;
left: 50%;
z-index: 1110;
width: 560px;
margin: -250px 0 0 -280px;
background-color: #ffffff;
border: 1px solid #999;
border: 1px solid rgba(0, 0, 0, 0.3);
outline: none;
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
}
.modal-body {
max-height: 300px;
padding: 15px;
overflow-y: auto;
}
.modal-footer {
padding: 19px 20px 20px;
margin-top: 15px;
text-align: right;
border-top: 1px solid #e5e5e5;
}
.modal-header {
min-height: 16.428571429px;
padding: 15px;
border-bottom: 1px solid #e5e5e5;
}
div.spacer {
    height: 2px;
    margin-bottom: 75px;
}