
<p>
This site was built using <a href="http://foundation.zurb.com/">Foundation 5</a> to structure html/css, <a href="http://jsonresume.org/" >jsonresume.org</a> to structure the resume data,  <a href="http://backbonejs.org/" > backbonejs</a>+<a href="http://marionettejs.com/" > marionettejs</a> for the application architecture, <a href="http://www.html5rocks.com/en/tutorials/appcache/beginner/" >html5 app cachce</a> for front end caching (it even means this site is avaliable offline), <a href="http://gruntjs.com/" >Grunt</a> to build all production files and finally <a href="http://bower.io/" >bower</a> to manage all 3rd party dependencies.
</p>
<p>
 The theme was inspired by Ghost theme <a href="http://ghostium.oswaldoacauan.com/" >ghostium</a>.
 </p>
 <p>
    Currently you are using the built version but if you would like to look at what goes into this site feel free to <a href="https://github.com/leighquince/quincewebdesign" >fork me on git hub</a> 
 </P>