<div class="education-section-institution">
  <h4>{{institution}}</h4>
</div>
<div class="education-section-dates">
  <div class="education-section-start-date date-stamp">
     <span class="label date-stamp-label">{{HB_momentFormatDate startDate}}</span>
  </div>
  <div class="education-section-end-date date-stamp">
     <span class="label date-stamp-label">{{HB_momentFormatDate endDate}}</span>
  </div>
</div>
<div class="education-section-courses">
  <ul class="education-section-courses-list">
    {{#each courses}}
    <li class="education-section-courses-list-item">{{this}}</li>
    {{/each}}
  </ul>
</div>
