<div class="cv-details" id="resume-basics-region">

</div>

<div class="cv-details" id="resume-skills-region">

</div>

<div class="cv-details" id="resume-work-region">

</div>

<div class="cv-details" id="resume-education-region">

</div>

<div class="cv-details" id="resume-projects-region">

</div>
<div class="cv-details" id="resume-intrests-region">

</div>
