<div class="cv-navigation">
	<div data-magellan-expedition="fixed">
	  <dl class="sub-nav">
	    <dd data-magellan-arrival="me"><a href="#Me">Me</a></dd>
	    <dd data-magellan-arrival="skills"><a href="#Skills">Me</a></dd>
	    <dd data-magellan-arrival="jobs"><a href="#Jobs">Me</a></dd>
	    <dd data-magellan-arrival="projects"><a href="#Projects">Me</a></dd>
	    <dd data-magellan-arrival="education"><a href="#Education">Me</a></dd>
	    <dd data-magellan-arrival="hobbies"><a href="#Hobbies">Me</a></dd>
	  </dl>
	</div>
</div>

<div class="cv-details">

	<div class="row">
		<div class="medium-2 columns">
			<h3 data-magellan-destination="me">Arrival</h3>
		</div>
  	<div class="medium-10 columns">
  		words
  	</div>
	</div>

	<div class="row">
		<div class="medium-2 columns">
			<h3 data-magellan-destination="skills">Arrival</h3>
		</div>
  	<div class="medium-10 columns">
  		words
  	</div>
	</div>

	<div class="row">
		<div class="medium-2 columns">
			<h3 data-magellan-destination="jobs">Arrival</h3>
		</div>
  	<div class="medium-10 columns">
  		words
  	</div>
	</div>

	<div class="row">
		<div class="medium-2 columns">
			<h3 data-magellan-destination="projects">Arrival</h3>
		</div>
  	<div class="medium-10 columns">
  		words
  	</div>
	</div>

	<div class="row">
		<div class="medium-2 columns">
			<h3 data-magellan-destination="education">Arrival</h3>
		</div>
  	<div class="medium-10 columns">
  		words
  	</div>
	</div>

	<div class="row">
		<div class="medium-2 columns">
			<h3 data-magellan-destination="hobbies">Arrival</h3>
		</div>
  	<div class="medium-10 columns">
  		words
  	</div>
	</div>
	
</div>