<div class="large-2 columns cv-section-name" data-equalizer-watch>
  <h6>{{name}}</h6>
</div>
<div class="large-10 columns cv-section-details" data-equalizer-watch>
  <ul class="cv-skills-list inline-list">
    {{#each keywords}}

    <li>
      <span class="label skill-label">{{this}}</span>
    </li>

    {{/each}}


  </ul>
</div>
