<div id="modal-window" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header" id="modal-title-region">
		
	</div>
	<div class="modal-body" id="modal-content-region">
		
	</div>
	<div class="modal-footer" id="modal-action-region">
		  
	</div>
</div>