<div class="row vanity-graph-items">
	<div class="small-12 columns" id="graph-items-region">
	 	
	</div>
	
</div>
<div class="row vanity-details" >
	 <div class="small-12 columns" id="badge-region">
	 	
	 </div>
</div>
<div class="row vanity-media-items">
	<div class="small-12 columns" id="media-items-region">
	 	
	</div>
	
</div>